
sample:
  seed: 2024
  batch_size: 100
  num_mols: 100
  save_traj_prob: 0.02


data:
  protein_path: data/examples/smallmol/moad_62740_pro.pdb
  input_ligand: data/examples/smallmol/moad_62740_mol.sdf
  is_pep: False
  pocket_args:
    radius: 10


transforms:
  featurizer:
    mol_as_pocket_center: True  # use input ligand center as pocket center
  variable_mol_size:  # variable mol size
    name: variable_mol_size
    num_atoms_distri:
      strategy: mol_atoms_based  # mol size from Normal(mean=40, std=3)
      mean:
        coef: 0
        bias: 38
      std:
        coef: 0
        bias: 3
      min: 5


# The following defines sbdd optimization

task:
  name: sbdd
  transform:
    name: sbdd

noise:
  name: sbdd
  num_steps: 50
  init_step: 0.5  # smaller means more similar to input structure
  prior: from_train
  level:
    name: advance
    min: 0.
    max: 1.
    step2level:
      scale_start: 0.99999
      scale_end: 0.00001
      width: 3
